.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  width: 200px;
  text-align: center;
  background: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  opacity: 0.8;
  transition: 0.5s;
  text-decoration: none;
  margin: 15px;
  height: 350px;

  img {
    max-width: 100%;
    border-radius: 4px;
    margin-bottom: 10px;
  }

  h3 {
    font-size: 1.1rem;
    color: #333;
    margin: 0;
  }

  &:hover {
    opacity: 1;
    transform: scale(1.1);
  }
}
