.home-content {
  & > h1 {
    margin-top: 80px;
    margin-bottom: 80px;
    text-align: center;
  }

  &__cards {
    display: flex;
    justify-content: center;
  }

  &__filter {
    margin-bottom: 25px;

    & select {
      margin-left: 10px;
      padding: 5px 15px;
      border: none;
      outline: none;
      border-bottom: 1px solid;
      color: #e74c3c;
      background-color: #121920;
      border-radius: 5px;
    }
  }
}
