<section class="home-content">
  <h1>Recommendations for you:</h1>

  <div class="home-content__filter">
    <label for="type-select">Select type: </label>
    <select id="type-select" (change)="onTypeChange($event)" [disabled]="isLoading">
      <option value="movie">Movie</option>
      <option value="series">Series</option>
    </select>
  </div>

  @if (movies.length === 5) {
    <div class="home-content__cards">
      @for (movie of movies; track movie.Title) {
        <app-movie-card [title]="movie.Title" [posterUrl]="movie.Poster" [id]="movie.imdbID">
        </app-movie-card>
      }
    </div>
  } @else if (errorMessage) {
    <div class="home-content_error">{{ errorMessage }}</div>
  } @else {
    <p>Load...</p>
  }
</section>
