<div class="search">
  <div class="search__header">
    <h1>Find your next {{ type }} 🕵️‍♂️</h1>
    <p>Explore thousands of titles. Just type and wait for magic.</p>

    <input
      type="text"
      placeholder="Type name here (e.g. Matrix)..."
      (input)="onSearch($event)"
      class="search__input"
    />
  </div>

  @if (isLoading) {
    <div class="search__loader">🔎 Searching the database...</div>
  }

  <div class="search__results">
    @for (item of results; track item.imdbID) {
      <app-movie-card [title]="item.Title" [posterUrl]="item.Poster" [id]="item.imdbID">
      </app-movie-card>
    } @empty {
      @if (!isLoading) {
        <div class="search__empty-state">
          <span class="emoji">⌨️</span>
          <p>
            Start typing to find a <strong>{{ type }}</strong
            >. <br />
            <small>(Enter at least 3 characters)</small>
          </p>
        </div>
      }
    }
  </div>
</div>
